*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background:linear-gradient(11.67deg, #14213D 10.56%, #FCA311 80.85%) no-repeat center center / cover;
}
.row{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
}
#intro{
    text-align: center;
    padding: 64px 64px 16px 64px;
}
#intro h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px;
}
#intro p{
    font-size: 24px;
    font-weight: 500;
    padding: 16px;
}
#form {
    text-align: center;
}
#form form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#form form label {
    font-size: 28px;
    padding: 8px;
    font-weight: 700;
    color: #14213D;
}
#form form input[type = date] {
    font-size: 24px;
    padding: 8px;
    margin: 8px;
    width: 40%;
    font-weight: 500;
}
#form form input[type = submit] {
    font-size: 24px;
    padding: 8px;
    width: 40%;
    font-weight: 600;
}
#content {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    color: white;
}
select {
    font-size: 24px;
    padding: 8px;
    width: 40%;
    font-weight: 600;
    margin-bottom: 8px;
    border: none;
}