*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background:linear-gradient(11.67deg, #14213D 10.56%, #FCA311 80.85%) no-repeat center center / cover;
}
.row{
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
}
#intro{
    text-align: center;
    padding: 64px;
}
#intro h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px;
    margin: 16px;
}
#intro p{
    font-size: 24px;
    font-weight: 500;
    padding: 16px;
    margin: 16px;
}